@{
    ViewData["Title"] = "Index";
}
<img src="~/images/AlphaWeb.png" />
<img src="~/MyStaticFiles/LOGOPRIMONEGRO.png" />
<h2>Bienvenidos a la tienda de libros</h2>
<h1>@DateTime.Now</h1>
<p>Hello from our View Template!</p>