@model BookModel
@{
    ViewData["Titulo"] = "Add Book";
}
<div class="container">
    <h3 class="display-4">Nuevo Libro</h3>
    <hr />
    @if(ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Felicidades!</strong> Ha agregado un nuevo libro. <br />
            Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId" >aqui</a> para ver los detalles
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="d-flex justify-content-center">
        <div class="spinner-grow text-success" role="status" id="MyLoading" style="display:none">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <form method="post" asp-action="AddBookasync" data-ajax="true" data-ajax-complete="SeCompleto" data-ajax-success="IsSuccess" data-ajax-failure="Fallo" data-ajax-loading="#MyLoading" >
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IdiomasId" class="control-label"></label>
            <select asp-for="IdiomasId" class="form-control" asp-items= "ViewBag.ListaLanguge">
                <option value="">Seleccione..</option>
            </select>
            <span asp-validation-for="IdiomasId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control"/>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="TotalLines" class="control-label"></label>
            <input asp-for="TotalLines" class="form-control"/>
            <span asp-validation-for="TotalLines" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Agregar" class="btn btn-primary"/>
        </div>
    </form>
</div>
@section scripts {
    <script>
        function SeCompleto(data){
            alert('Se completo');
            console.log(data);
        }
        function IsSuccess(data){
            alert('Termino correctamente');
            console.log(data);
        }
        function Fallo(data){
            alert('Error ');
            console.log(data);            
        }
    </script>
}